<%- include('partials/header') %>
    <div class="index-flex-container">
        <div id="homeScreen">
            <h1 class="text-light-roboto">Welcome <br><span id="userBreak"><%= locals.username %></span></h1>
                <a id="WriteBlog" class="blog-button" href="/write">
                    Write a blog and express yourself
                </a>
        </div>

        <div id="yourBlogs"><p class="text-light-roboto">Your Blogs</p></div>
                
            <% if(locals.blogList){ %>
                <% if(locals.blogList.length === 0){ %>
                <!--If not Blogs written-->
                <div id="no-blogs">You have not written any blogs yet!</div>
                
                <% } else { %>
                    <div id="blog-content">
                    <!--loads blog button for each written by the user from blogList-->
                    <% locals.blogList.forEach(function(blog) { %>
                        <a href="/blog/<%= blog.id %>" id="blog-id-<%= blog.id %>" class="blog-entry"> <!--individual blog entry id-->
                            <div id="blog-entry-title" class="blog-content-text"><%= blog.blog_title %></div>
                        <div id="blog-entry-author" class="blog-content-text">author: <%= blog.user_name %></div>
                        </a>
                    <% }); %>
                <% } %>
                </div>
            <% } %>
    </div>
<%- include('partials/footer') %>
